.sms-titleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #EDFFED;
}

.sms-title {
  font: normal normal normal 12px/17px Open Sans;
  text-transform: uppercase;
}

.sms-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  height: 95px;
  background: #EDFFED;
}

.sms-box-count {
  height: 68px;
  font: normal normal 600 50px/68px Open Sans;
}


.sms-box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  font: normal normal 600 10px/14px Open Sans;
}

.sms-box-type {
  font: normal normal 600 10px/14px Open Sans;
  text-transform: uppercase;
  color: #000;
}