.orders-container {
  height: 206px;
  margin-top: 1px;
}

.divider {
  border: 1px solid #4D4D4D;
}

.orders-topBar {
  display: flex;
  position: relative;
  height: 41px;
  background: #7D869A;
}

.orders-buttons {
  display: flex;
  align-items: center;
  top: 9px;
  gap: 5px;
  padding-left: 10px;
  position: absolute;
}

.orders-recent {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  font: normal normal 600 16px/22px Open Sans;
  text-transform: uppercase;
  color: #ffffff;
}

.orders-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.orders-headers {
  display: grid;
  grid-template-columns: 145px 456px 230px 191fr;
  justify-items: flex-start;
  align-items: center;
  height: 25px;
  padding: 2px 0 0 10px;
  border-bottom: 1px solid lightgrey;
  font: normal normal normal 10px/11px Arial;
  text-transform: uppercase;
}

.orders-headers th {
  cursor: pointer;
}

.order-row {
  display: grid;
  grid-template-columns: 145px 456px 230px 191px 92px;
  height: 70px;
  padding-left: 10px;
  border-bottom: 1px solid grey;
}

.alt-bg {
  background: #F2F4F7;
}

.order-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  color: #333333;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-14-19 {
  font: normal normal normal 14px/19px Open Sans;
}

.font-16-22 {
  font: normal normal normal 16px/22px Open Sans;
}

.orders-resend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 28px;
  background: #7D869A;
  border-radius: 2px;
  font: normal normal normal 12px/14px Arial;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.catagory-button {
  width: 67px;
  height: 23px;
  border: none;
  border-radius: 11px;
  font: normal normal normal 10px/11px Arial;
  text-transform: uppercase;
  color: #3A3A3A;
  cursor: pointer;
}

.catagory-button:hover {
  background: #3A3A3A;
  color: #ffffff;
}

.active-catagory {
  background: #FFFFFF;
}

.inactive-catagory {
  background: transparent;
  color: #ffffff;
}