.tabs-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 81px;
  margin-top: 7px;
  gap: 2px;
  background: #F2F2F2;
}

.tabs-grid {
  display: grid;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  background: #D2D2D2;
  font: normal normal bold 12px/14px Arial;
  text-transform: uppercase;
  color: #3A3A3A;
  cursor: pointer;
}

.active {
  background: #3A3A3A;
  color: #ffffff;
}