.act-titleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #EDF5FF 0% 0% no-repeat padding-box;
}

.act-title {
  text-transform: uppercase;
  font: normal normal normal 12px/17px Open Sans;
}

.act-boxes-container {
  display: flex;
  gap: 2px;
}

.act-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  height: 95px;
  gap: 3px;
  background: #EDF5FF;
}

.act-boxes-count {
  height: 68px;
  font: normal normal 600 50px/68px Open Sans;
}

.act-boxes-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.act-boxes-type {
  font: normal normal 600 10px/14px Open Sans;
  color: #000;
  text-transform: uppercase;
}