.neworder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.close-neworder {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #eeeeee;
  cursor: pointer;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font: normal normal normal 32px/43px Open Sans;
  color: #eeeeee;
}

.processing {
  font: normal normal normal 32px/43px Open Sans;
  color: #eeeeee;
}